// =============================================================================
// CATEGORY (CSS)
// =============================================================================


// Category header
// -----------------------------------------------------------------------------

.category-header-image {
    width: 100%;
}
html .add-all-cart {
    display: none;
}
html.js .add-all-cart {
    display: block;
}
